<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recommendation List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "ion-padding">
  <ul *ngFor = "let recItem of recItems">

    <div class="row">
     <li>Name: {{recItem.name}}</li>
    <!-- Age: <ion-input [(ngModel)]="recItem.age"  name="age"></ion-input><br>
    Gender: <ion-input [(ngModel)]="recItem.gender"  name="gender"></ion-input><br>
    Habit: <ion-input [(ngModel)]="recItem.habit"  name="habit"></ion-input> -->
    </div>
  
  </ul>


  
  
  <ion-button class="submit-btn" (click)="goHome()">Go Back Home Page</ion-button>
</ion-content>