<ion-header>
  <ion-toolbar color="primary">
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
 
    <h1>Your information</h1>

      <div class="row">
          <ion-label position="floating" color="primary">Name</ion-label>
          <ion-input [(ngModel)]="info.name"  name="name"></ion-input><br>
          <ion-label position="floating" color="primary">Age</ion-label><br>
          <select [(ngModel)]="info.age" name="age">
              <option value="18~25">18~25</option>
              <option value="26~30">26~30</option>
              <option value="31~35">31~35</option>
              <option value="36~">36~</option>
          </select><br>
          <ion-label position="floating" color="primary">Gender</ion-label><br>
          <select [(ngModel)]="info.gender" name="gender">
              <option value="male">male</option>
              <option value="female">female</option>
          </select><br>
          <ion-label position="floating" color="primary">Habit</ion-label><br>
          <select [(ngModel)]="info.habit" name="habit">
              <option value="clean">clean</option>
              <option value="outgoing">outgoing</option>
              <option value="late sleep">late sleep</option>
              <option value="early sleep">early sleep</option>
          </select>
      </div>



    <ion-button (click)="update()" onclick="alert('update successfully')">Update</ion-button>
    <ion-button (click)="BacktoHome()">Back</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>
    

</ion-content>
