<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
    <h1>Your information</h1>

      <div class="row">
          Name: <ion-input [(ngModel)]="info.name"  name="name"></ion-input><br>
          Age: <ion-input [(ngModel)]="info.age"  name="age"></ion-input><br>
          Gender: <ion-input [(ngModel)]="info.gender"  name="gender"></ion-input><br>
          Habit: <ion-input [(ngModel)]="info.habit"  name="habit"></ion-input>
      </div>



    <ion-button (click)="update()">Update</ion-button>  
    <ion-button (click)="BacktoHome()">Back</ion-button>
    <ion-button (click)="logout()">Logout</ion-button>

</ion-content>
